body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* reset */
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.web-navi-section {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.web-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.web-logo-part {
  color: #2e2f42;
}

.web-navi {
  font-weight: 500;
  font-size: 16px;
  padding: 24px 0;
  display: block;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-navi:hover,
.web-navi:focus,
.web-navi.current {
  color: #404bbf;
}
.web-navi.current{
  position: relative;
}
.web-navi.current::after { 
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;


  border-radius:2px ;
  background-color: #404bbf;
}
.web-adress-section {
  font-style: normal;
  margin-left: auto;
}
.web-address {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-address:hover,
.web-address:focus {
  color: #404bbf;
}
img {
  display: block;
}

/* section */
.main-page {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: url(../images/hero/people-office.jpg);
  background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
max-width: 1440px;
margin-left: auto;
margin-right: auto;
}


.main-page-title {
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.main-page-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-page-btn:hover,
:focus {
  background: #404bbf;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.skills-section{
  padding: 120px 0 120px;
}
.skills-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.skills-icons{
  background-color: #F4F4FD;
  width: 264px;
    height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content:center;
    align-items: center;
    height: 112px;
    display: flex;
      align-items: center;
      justify-content: center;
}

.skills-list-sub {
  width: calc((100% - 72px) / 4);
}

.skills-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.skills-title-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* our team */
.team-block-list {
  display: flex;
  align-items: center;
  gap: 24px;

}
.our-team-sect {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-meamber-descr {
  padding-bottom: 32px;
  padding-top: 32px;
}
.team-member {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-member-prof {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-list-icons{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;}
    
.team-icons{
width: 40px;
  height: 40px;
}
.team-link{
background-color:#4d5ae5;
 height: 100%;
 width: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-link:hover,
.team-link:focus{
  background-color: #404bbf;
}


/* portfolio */

.portfolio {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-sect {
  padding: 120px 0 120px 0;
}

.portfolio-list-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-sub {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.portfolio-list-sub:hover {
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-tit {
  position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.portfolio-element{
  padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-title-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-overlay{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  top: 0;
}
.portfolio-tit:hover .portfolio-overlay{
transform:translateY(0);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* footer */

.footer-box {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container.footer-cont{
  display: flex;
  align-items: baseline;
  
}

.footer-web{
  margin-right: 120px;
}
.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.web-logo-footer {
  color: #f4f4fd;
  display: inline-block;
}
.web-logo-foot {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;;

}
.footer-list-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-icons {
  background-color: #404bbf;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-link{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media{
  font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    
 }

 .footer-link:hover,
 .footer-link:focus {
   background-color: #31D0AA;
 }
 .social-icons{
  fill: #f4f4fd;
 }